{% extends "layout.html" %}
{% set productName = "Prototype" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Add the name(s) of the product(s) this prototype has designs for -->
      <h1 class="govuk-heading-xl">
        UKVI: {product name(s)}
      </h1>

<!-- Add the name(s) of the product(s) this prototype has designs for -->
      <p>This prototype has designs for development for the following products:</p>
      <ul class ="govuk-list govuk-list--bullet">
        <li>{product name}</li>
        <li>{product name}</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Links to other prototypes in the UKVI space
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Product</th>
                <th scope="col" class="govuk-table__header">Link</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Apply (AUK2 forms)</th>
                <td class="govuk-table__cell"><a href="https://ho-auk2-dev.herokuapp.com">https://ho-auk2-dev.herokuapp.com</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Update your details (UMD)</th>
                <td class="govuk-table__cell"><a href="https://update-your-details-prototype.herokuapp.com/">https://update-your-details-prototype.herokuapp.com/</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">View and prove your immigration status</th>
                <td class="govuk-table__cell"><a href="https://status-vp-2022.herokuapp.com">https://status-vp-2022.herokuapp.com</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Prove your right to work</th>
                <td class="govuk-table__cell"><a href="https://status-rtw.herokuapp.com/">https://status-rtw.herokuapp.com/</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Prove your right to rent</th>
                <td class="govuk-table__cell"><a href="https://status-rtr.herokuapp.com/">https://status-rtr.herokuapp.com/</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Integrated account</th>
                <td class="govuk-table__cell"><a href="https://designs-account.herokuapp.com/">https://designs-account.herokuapp.com/</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Person resolution service (PRS)</th>
                <td class="govuk-table__cell"><a href="https://update-my-details-atlas.herokuapp.com/">https://update-my-details-atlas.herokuapp.com/</a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <p class="govuk-body govuk-!-margin-top-4">Any questions, reach out on slack with individual team members or on <a href="https://ukim-tech.slack.com/archives/C029WAKQSAW">#ukvi-products-account</a>.</p>
  </div>
</div>

<!-- Space to add links to old/previous prototypes -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Previous prototypes - {dates}
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body govuk-!-font-size-19">{Any explanation needed}</p>
      <p class="govuk-body govuk-!-margin-bottom-1"><a href="{link}">{prototype url}</a></p>
      <p class="govuk-body govuk-!-margin-bottom-1">User name: {username}</p>
      <p class="govuk-body govuk-!-margin-bottom-1">Password: {password}</p>
    </div>
  </details>

  </div>
</div>

<!-- end of previous prototypes -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <!-- tabs -->

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#in-progress">
            In progress
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#in-delivery">
            In delivery
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#in-production">
            In production
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="in-progress">
        <h2 class="govuk-heading-m">Designs in progress</h2>
        <p>These designs are either in research or in the process of been designed.</p>

<!-- Add to the table for the designs in progress -->
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">JIRA</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="{link to screen index}">{short name}</a></td>
              <td class="govuk-table__cell">
                {brief description of the designs}
              </td>
              <td class="govuk-table__cell"><a href="{link to a relevant jira ticket}">{jira ticket name, ex. PP-1231}</a></td>
            </tr>

          </tbody>
        </table>
<!-- End of the designs in progress table -->
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-delivery">
        <h2 class="govuk-heading-m">Designs on the development backlog or in delivery</h2>
          <p>This table will be updated when designs in progress have been have been signed off by the Product Owner.</p>

<!-- Add to the table for the designs that are in delivery -->
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">JIRA</th>
              <th scope="col" class="govuk-table__header">Handover date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="{link to screen index}">{short name}</a>
              </td>
              <td class="govuk-table__cell">
                {brief description of the designs}
              </td>
              <td class="govuk-table__cell">
                <a href="{link to a relevant jira ticket}">{jira ticket name, ex. PP-1231}</a>
              </td>
              <td class="govuk-table__cell">
                {handover date}
              </td>
            </tr>


          </tbody>
        </table>
<!-- End of the designs in progress table -->

      </div>


      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-production">
        <h2 class="govuk-heading-m">Designs in production</h2>
        <p>This table will be updated when designs on the delivery backlog or in delivery have been pushed live into production.</p>

<!-- Add to the table for the designs that are now live -->
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">JIRA</th>
              <th scope="col" class="govuk-table__header">Release date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link--no-visited-state" href="{link to screen index}">{short name}</a>
              </td>
              <td class="govuk-table__cell">
                {brief description of the designs}
              </td>
              <td class="govuk-table__cell">
                <a href="{link to a relevant jira ticket}">{jira ticket name, ex. PP-1231}</a>
              </td>
              <td class="govuk-table__cell">
                {release date}
              </td>
            </tr>

          </tbody>
        </table>
<!-- End of the designs in progress table -->

      </div>
      </div>


  <!-- end of tabs -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-s govuk-!-margin-top-7">For interaction designers</h3>

    <p>Prototype kit version: {{releaseVersion}}</p>{{releaseVersion | log }}

<!-- Space to add instructions for installing a custom package, front-end from another design system, etc  -->
    {{ govukDetails({
      summaryText: "Updating the prototype kit",
      html: '<p>You must also then re-install:</p><p><a href="https://github.com/abbott567/radio-button-redirect">Radio button redirect</a></p>'
    }) }}

<!-- end -->
</div>
</div>



{% endblock %}
