<!-- TO DO: REPLACE XXXX WITH THE ASSOCIATED JIRA TICKET -->
{% set serviceName = "{jira ticket}" %}
{% set productName = "Prototype" %}
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {project / problem name}
      <span class="govuk-caption-l">Last updated: {date last updated}</span>
    </h1>
    <p>{Short summary of the project, problem trying to solve, why, who it affects, what teams also involved in delivering}</p>
    <br>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l govuk-!-margin-top-5">Quick links</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {Description of confluence page / mural board any useful external links}
          </td>
          <td class="govuk-table__cell">
            <a href="{add link}" class="govuk-link govuk-link--no-visited-state">{Link short description}</a>
          </td>
        </tr>

      </tbody>
    </table>


    <br>
    <br>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Add link to mural board if there is system / business logic that the prototype does not capture -->
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
        The prototype is not fully interactive and does not show the detail in routing or business logic. For further detail, see the  <a href="{add link to mural}">mural screenflow</a>.
        </strong>
        </div>

      <h2 id="screens-umd" class="govuk-heading-l">Sorting hat screens</h2>



      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="30%">Screen</th>
            <th scope="col" class="govuk-table__header" width="50%">Description</th>
            <th scope="col" class="govuk-table__header" width="50%"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <!-- Row -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link--no-visited-state" href="{link to screen}">{H1 of the screen}</a>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body govuk-!-margin-bottom-1">Changes include:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>ID doc generic</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
            {{govukTag({
              text: "Update",
              classes: "govuk-tag--blue"
            })}}
          </td>
          </tr>

        </tbody>
      </table>

      <br>

      <h2 id="screens-umd" class="govuk-heading-l">Screens in the journey in other products</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="30%">Screen</th>
            <th scope="col" class="govuk-table__header" width="50%">Description</th>
            <th scope="col" class="govuk-table__header" width="50%"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <!-- Row -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link--no-visited-state" href="apply/task-list">{product name} prototype</a>
              <p class="govuk-body govuk-!-margin-top-3">{user: xxxx | pass: xxxx }</p>
            </td>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--bullet">
                <li>{screen affected}</li>
                <li>{screen affected}</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
            {{govukTag({
              text: "New",
              classes: "govuk-tag--green"
            })}}
          </td>
          </tr>

        </tbody>
      </table>


  </div>
</div>

{% endblock %}
