{% set serviceName = "Apply for a skilled worker visa" %}
{% extends "layouts/account.html" %}

{% set pageName="Home" %}

{% block content %}

{{ hoAccountHeader({active: "applications"}) }}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"></span>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"></span>
    
        <h1 class="govuk-heading-xl">
          Your applications
        </h1>
    
        <div class="ho-listing-container">
    
          <div>
            <h2 class="govuk-heading-l" id="app-1">Skilled worker visa</h2>
            <p>
              <strong>
                Submitted:
              </strong>
              14 April 2023
            </p>
            <p>
              <strong>
                Unique application number:
              </strong>
              UAN 1234456778
            </p>
    
            <a href="prepare-photo" class="govuk-button  govuk-!-margin-right-1" data-module="govuk-button">
              Upload new photo
            </a>
    
          </div>

      

    </div>

  </div>

</div>

{% endblock %}