{% set serviceName = "Apply for a skilled worker visa" %}

{% extends "layouts/main.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype, not a real service.'
}) }}
  {{ govukBackLink({
    href: "prepare-photo",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<form action="../stop">

  <h1 class="govuk-heading-l">
    Upload a photo of yourself
  </h1>

 
    <p>The photo must be:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>different to the one in your identity document</li>
      <li>recently taken (no more than 3 years old)</li>
      <li>vertical (portrait)</li>
      <li>a jpg or jpeg file</li>
    </ul>

    <p>You must not:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>upload a photo of another photo</li>
      <li>use any effects or filters</li>
    </ul>
  


  {{ govukFileUpload({
      id: "file-upload",
      name: "file-upload"
     
    }) }}



 
   
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </a>


  <script>
    // Page change
    var timer = setTimeout(function() {
        window.location='time-out-page.html'
    }, 90000);
  </script>


{% endblock %}