{% set serviceName = "Confirm your identity" %}

{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    href: "prepare-photo",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}


  <h1 class="govuk-heading-l">
    Upload a photo of yourself
  </h1>

 
    <p>The photo must be:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>different to the one in your identity document</li>
      <li>recently taken (no more than 3 years old)</li>
      <li>vertical (portrait)</li>
      <li>a jpg or jpeg file</li>
    </ul>

    <p>The must no:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>upload a photo of another photo</li>
      <li>use any effects or filters</li>
    </ul>
  


  {{ govukFileUpload({
      id: "file-upload",
      name: "file-upload"
     
    }) }}



 
    <a href="check-photo.html">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </a>



{% endblock %}