{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-l">You have signed out</h1>
     

    <p class="govuk-body">You can sign in again or close this page. </p>

    <p class="govuk-body">Any information you entered has been saved.</p>
    <form action="/scenario2/ask-passport" method="post" novalidate="novalidate" spellcheck="false">
    
      <button class="govuk-button govuk-!-margin-top-4"  data-module="govuk-button">
        Sign in
      </button>
      
    </div>
  

  </div>
</div>

{% endblock %}
