{% set serviceName = "" %}
{% extends "umd-layout-two-thirds.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "ask-dob"
  }) }}
{% endblock %}

{% block innerContent %}

  <form action="ask-email-code" method="post" novalidate="novalidate">

    {{ govukCaption({text: "Sign in"}) }}

    {{ govukRadios({
      name: "ask-receive-code",
      fieldset: {
      legend: {
          text: "How do you want to receive a security code?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "We will send a code to the phone or email address."
      },
      items: [
        {
          text: "Send me a text message (SMS) to 07765***408"
        },
        {
          text: "Send me an email to s*********s@mywork.com"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    {{ govukDetails({
      summaryText: "If you no longer have your phone number and email address",
      html: "Use our <a href='#'>enquiry form</a> to tell us you do not have your passport number."
    }) }}
  </form>

{% endblock %}