{% set serviceName = "Confirm your identity" %}
{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    {% block content %}
 

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Take a photo of yourself</h1>

        <h2 class="govuk-heading-m">Photo rules</h2>
        <p>The photo must be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>different to the one in your identity document</li>
          <li>recently taken (no more than 3 months old)</li>
          <li>in colour</li>
          <li>vertical (portrait)</li>
          <li>a jpg or jpeg file</li>
        </ul>

        <p>You must not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>use effects or filters</li>
          <li>wear a head covering (unless it is for religious or medical reasons)</li>
          <li>have any objects or other people in the photo</li>
          <li>have glare or reflections from any glasses - take them off if you can</li>
        </ul>

        <h2 class="govuk-heading-m">When taking a photo</h2>

        <p>Make sure you follow these guidelines when either taking a selfie or getting someone to take a photo of you:</p>

        <img src="https://assets.publishing.service.gov.uk/media/5b8d4e26ed915d74f4c75c34/examples_of_passport_photos.png" class="govuk-!-margin-bottom-6" width="100%"/>

        <p>
          <a href="upload-photo.html">
            <button class="govuk-button" data-module="govuk-button">
              Continue to upload photo
            </button>
          </a>
        </p>

        <script type="text/javascript">
          time = 10;
        interval = setInterval(function() {
          console.log('it triggers!!')
          console.log('time', time);
            time--;
            document =  time
            if (time == 0) {
                // stop timer
                clearInterval(interval);
                // click
                document.getElementById('label_modal_1').click();
            }
        }, 1200)
        </script>

<p>
  <a href="#" class="js-modal" 
      data-modal-text=" <p>For security, you will be signed out in <span style='font-weight: bold; white-space:nowrap;'>5 minutes</span>.</p>" 
      data-modal-title="You're about to be signed out" 
      data-modal-close-route="signed-out"
     data-modal-close-text="Continue on this page" 
     data-modal-close-title="Close this window">Sign out</a>
 </p>
        </div>
        </div>

{% endblock %}