{% set serviceName = "Confirm your identity" %}

{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    href: "prepare-photo",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  Upload a photo of yourself
</h1>


  <p>The photo must be:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>different to the one in your identity document</li>
    <li>recently taken (no more than 3 years old)</li>
    <li>vertical (portrait)</li>
    <li>a jpg or jpeg file</li>
  </ul>

  <p>You must not:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>upload a photo of another photo</li>
    <li>use any effects or filters</li>
  </ul>



{{ govukFileUpload({
    id: "file-upload",
    name: "file-upload"
   
  }) }}



  <p>
    <a href="../stop">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </a>
  </p>


<p>
<!-- Using https://a11y.nicolas-hoffmann.net/modal/ -->
  <a href="#" class="js-modal" data-modal-text="
    <p id='timeout--p'>You have not done anything on this page for a while. To protect your information, it will time out in
      <span id='timeout--countdown' style='font-weight: bold; white-space:nowrap;'>3</span>
      <span id='timeout--countdown-unit' style='font-weight: bold; white-space:nowrap;'>minutes</span>.
    </p>
    <p>If that happens, you will need to enter your information again.</p>
    <div id='timeout--announce' role='alert' aria-live='polite' style='position:absolute; width:0; height:0; clip: rect(0,0,0,0);'></div>
    " 
    data-modal-title="You will be timed out soon" 
    data-modal-close-text="Stop time out">
  </a>
</p>
<!-- data-modal-close-route="signed-out"
data-modal-close-text="Stop time out" 
data-modal-close-title="Close this window" -->
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/timeout-prototype.js"></script>
{% endblock %}