{% set serviceName = "Confirm your identity" %}

{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    href: "prepare-photo",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<script type="text/javascript">
  document.getElementById("#thebutton").click()​​​;​
</script>

  <h1 class="govuk-heading-l">
    Upload a photo of yourself
  </h1>

  <p>You will be able to check your photo meets the guidelines on the next page.</p>

  {{ govukFileUpload({
      id: "file-upload-1",
      name: "file-upload-1",
      label: {
        text: "Upload a photo",
        classes: "govuk-label--m"
      }
    }) }}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What format should my photo be?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>The photo must be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a jpg or jpeg file</li>
        <li>at least 600px by 750px</li>
        <li>at least 50KB and no more than 6MB</li>
      </ul>
    </div>
  </details>

  <p>
    <a href="check-photo.html">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </a>
  </p>

  <script type="text/javascript">
    time = 10;
  interval = setInterval(function() {
      time--;
      document =  time
      if (time == 0) {
          // stop timer
          clearInterval(interval);
          // click
          document.getElementById('label_modal_1').click();
      }
  }, 1200)
  </script>

<p>
<a href="#" class="js-modal" 
data-modal-text=" <p>For security, you will be signed out in <span style='font-weight: bold; white-space:nowrap;'>5 minutes</span>.</p>" 
data-modal-title="You're about to be signed out" 
data-modal-close-route="signed-out"
data-modal-close-text="Continue on this page" 
data-modal-close-title="Close this window">Sign out</a>
</p>

{% endblock %}