{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      Timeout Usability Testing prototype
    </h1>

    <p>
    <a href="/scenario-1/passport-number">Scenario 1</a></h2>
    </p>



    <p>
      <a href="/scenario2/ask-passport">Scenario 2</a>
    </p>

     

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
