{% macro govukCaption(params) %}
    <span class="govuk-caption-l{%- if params.classes %} {{ params.classes }}{% endif -%}">{{ (params.html | safe if params.html else (params.text if params.text)) }}</span>
{% endmacro %}

{% macro hoAlert(params) %}
  <div class="ho-alert ho-alert--error{%- if params.classes %} {{ params.classes }}{% endif -%}">
    <h2 class="govuk-heading-s">{{ params.heading }}</h2>
    <p class="ho-alert__body">{{ params.body | safe }}</p>
  </div>
{% endmacro %}

{% macro hoAccountHeader(params) %}
  <div class="ho-account-signout">
    <a href="/ucda-488/detached/thank-you">Sign out</a>
  </div>

  <div class="ho-account-header">

  <div class="account-title">
    <h1>Visas and Immigration Account</h1>
  </div>

    <nav id="nav-items" class="account-navigation">
      <ul class="nav-list-v3">
        <li class="{%- if params.active == 'applications' %} {{ 'active' }}{% endif -%}">
          <a href="home">Applications</a>
        </li>
        <li class="{%- if params.active == 'details' %} {{ 'active' }}{% endif -%}">
          <a href="../stop">Your details</a>
        </li>
      </ul>
    </nav>

  </div>
{% endmacro %}

{% macro hoAccountHeaderCC(params) %}
  <div class="ho-account-signout">
    <a href="">Sign out</a>
  </div>

  <div class="ho-account-header">

  <div class="account-title">
    <h1>Visas and Immigration Account</h1>
  </div>

    <nav id="nav-items" class="account-navigation">
      <ul class="nav-list-v3">
      <li class="{%- if params.active == 'status' %} {{ 'active' }}{% endif -%}">
        <a href="status">Immigration status</a>
      </li>
        <li class="{%- if params.active == 'applications' %} {{ 'active' }}{% endif -%}">
          <a href="index">Applications</a>
        </li>
        <li class="{%- if params.active == 'details' %} {{ 'active' }}{% endif -%}">
          <a href="your-details">Your details</a>
        </li>
      </ul>
    </nav>

  </div>
{% endmacro %}
