{% set serviceName = "" %}
{% extends "layouts/account.html" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Pause for a moment.
  </h1>

  <p class="govuk-body">Don't worry, you haven't done anything wrong.</p>

              <p class="govuk-body">We'd like to understand your reasons for making this decision.</p>

              <p class="govuk-body"> What were you expecting to see and why?</p>

              <p class="govuk-body">When you're ready just select the back button at the top of the page.</p>


 

{% endblock %}
